.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 250px;
    height: 100%;
    background-color: #333;
    display: none;
  
    @media (max-width: 768px) {
      &.show {
        display: block;
      }
      &.hide {
        display: inline;
      }
    }
  }
  