

section
{
  .Quizzes{
    box-shadow: 0px 15px 40px 0px #0000000D;

  }
}
section
{
    .home{
        img{
          transition: all .4s;
          &:hover{
            border: 6px #1966cad7 solid;
          }
        }
    
    }
}


  .flags
  {
    box-shadow: 0px 15px 40px 5px #EDEDED;
   
  }












