


<div class="sign-in-container  flex justify-between bg-[#FFFFFF] ">
    <div class="left-section   w-[50%] relative  h-[64rem]">
     
        <div class="w-[30.125rem] h-[48.2244rem] absolute top-[5rem] left-[5rem] gap-[5rem] ">
           
            <div class="w-[30.125rem] gap-[.5rem] h-[16.0625rem]">
                <h1>Welcome to </h1>
                <h2> Elevate</h2>
                <p>Quidem autem voluptatibus qui quaerat aspernatur <br> architecto natus</p>
            </div>
            
            <div class="w-[25.5rem] h-[27.1619rem] mt-8">
                <img src="/New folder/bro.png" alt="StudyIllustration">
       
            </div>
        </div>
            
    </div>


    <div class="right-section w-[50%] left-[1px] ">
     
        <router-outlet></router-outlet>
    </div>
  </div>
  