


 .sign-in-container {
  
   .left-section {

       border-top-right-radius: 100px;
       border-bottom-right-radius: 100px;
      background-color:  #F0F4FC ;
        box-shadow: 0px 5px 100px 0px #0000001A;
        

       h1 {
        font-family: Poppins;
         font-weight: 700;
         font-size: 50px;        line-height: 150%;
        letter-spacing: 0px;
         vertical-align: middle;
      
        

      }
        
       h2 {
           font-family: Poppins;
           font-weight: 700;
           font-size: 60px;
           line-height: 150%;
            letter-spacing: 0px;
            vertical-align: middle;
            color: #122D9C;

            
      }
      
  
       p {
        font-family: Poppins;
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 0px;
        vertical-align: middle;
        color:#000000;
        margin-bottom: 1.25rem;
     
        

        
       }
      
     }
  
   
    
  }

  
  