<app-nav></app-nav>

<section class="">
  
    <div class="flex justify-center items-center flex-col top-[202px] left-[-133px] relative">

     
      <div class="w-[410px] gap-[32px] h-[342px]">
        <h1 class="text-[#000000] text-[24.78px] font-[700] mb-5">Sign up</h1>
        <form class="" >
          
          <div class="mb-6">
            <input type="text"  class=" bg-[#F9F9F9] border border-[#E0E0E9] text-[#A1A4A9] text-sm rounded-[9.91px] gap-[2.97px]  focus:border-blue-50 block w-full p-2.5    "
           placeholder="First Name" required />
          </div>
         
          <div class="mb-6">
            <input type="text"  class=" bg-[#F9F9F9] border border-[#E0E0E9] text-[#A1A4A9] text-sm rounded-[9.91px] gap-[2.97px]  focus:border-blue-50 block w-full p-2.5    "
           placeholder="Last Name" required />
          </div>
          <div class="mb-6">
            <input type="email"  class=" bg-[#F9F9F9] border border-[#E0E0E9] text-[#A1A4A9] text-sm rounded-[9.91px] gap-[2.97px]  focus:border-blue-50 block w-full p-2.5    "
           placeholder="Email" required />
          </div>
          <div class="mb-6">
            <input type="password"  class=" bg-[#F9F9F9] border border-[#E0E0E9] text-[#A1A4A9] text-sm rounded-[9.91px] gap-[2.97px]  focus:border-blue-50 block w-full p-2.5    "
           placeholder="Password" required />
          </div>
          <div class="mb-6">
            <input type="password"  class=" bg-[#F9F9F9] border border-[#E0E0E9] text-[#A1A4A9] text-sm rounded-[9.91px] gap-[2.97px]  focus:border-blue-50 block w-full p-2.5    "
           placeholder="Confirm Password" />
          </div>

          <a class="text-center mb-8 block text-[#313131] text-[16px] font-[500]" >Already have an account? <span class="text-[#4461F2]  cursor-pointer">Login</span></a>
          <button class="bg-[#4461F2] h-[56px] text-white w-full p-[.5rem] rounded-[1.25rem]">Create Account </button>
    
    
        </form>

      
      <app-social></app-social>
        

      </div>
    </div>
  </section>