<app-nav></app-nav>

<section class="">
  
    <div class="flex justify-center items-center flex-col  pt-[10rem] ">

     
     @if (step ==1)
      {
        <div class="w-[410px] gap-[32px] h-[342px]">
          <h1 class="text-[#313131] text-[24] font-[700] mb-5">Forgot your password?</h1>
          <form [formGroup]="ForgetPassword" (ngSubmit)="SumbitForget()" >
            
            <div class="my-4">
              <input type="email"  class="mb-6 bg-[#F9F9F9] border border-[#E0E0E9] text-[#A1A4A9] text-sm rounded-lg  focus:border-blue-50 block w-full p-2.5    dark:focus:ring-blue-50 dark:focus:border-blue-50"
             placeholder="Enter Email"
             formControlName="email"
             required />
            </div>
                   
            @if (ForgetPassword.get('email')?.errors && ForgetPassword.get('email')?.touched) 
            {
              <div class="flex items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
               
                
                @if (ForgetPassword.get('email')?.getError('required')) 
                {
                  <div>
                    <span class="font-medium"></span> Email is required
                  </div>
                }
                @else if (ForgetPassword.get('email')?.getError('email')) 
                {
                  <div>
                    <span class="font-medium"></span>Email is valid
                  </div>
                  
                }
               
                
                
              </div>
            }

           
           
            
            <a routerLink="/forgetPassword" class="text-[#4461F2]  text-[1rem] cursor-pointer mb-3 text-end block"> Recover Password ?</a>
            <button  class="bg-[#4461F2] text-white  h-[56px] w-full p-[.5rem] rounded-[1.25rem]">sign in

             
              @if (isSpinner) 
              {
                <i class="fas fa-spin fa-spinner"></i>
              }
            </button>
      
      
          </form>
  
        
          
          <app-social></app-social>
  
        </div>
  
      }


    
      @else if ( step == 2) 
      {
        <div class="w-[410px] gap-[32px] h-[342px] my-10">
          <h1 class="text-[#313131] text-[24] font-[700] mb-5">Verify code</h1>
          <form [formGroup]="RestCode" (ngSubmit)="SumbitRestCode()">
            
            <div class="my-4">
              <input type="text"  class="mb-6 bg-[#F9F9F9] border border-[#E0E0E9] text-[#A1A4A9] text-sm rounded-lg  focus:border-blue-50 block w-full p-2.5    dark:focus:ring-blue-50 dark:focus:border-blue-50"
             placeholder="Enter Code"
             formControlName="resetCode"
             required />
            </div>

            @if (RestCode.get('resetCode')?.errors && RestCode.get('resetCode')?.touched) 
            {
              <div class="flex items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
               
                
                @if (RestCode.get('resetCode')?.getError('required')) 
                {
                  <div>
                    <span class="font-medium"></span> Code is required
                  </div>
                }
              
                
               
                
                
              </div>
            }
           
           
            
            <a (click)="resendCode()" class="text-[#4461F2]  text-[1rem] cursor-pointer mb-3 text-end block"> <span class="text-[#313131] ">Didn’t receive a code?</span>
              
            
              Resend</a>
            <button class="bg-[#4461F2] text-white  h-[56px] w-full p-[.5rem] rounded-[1.25rem]">Verify

              @if (isSpinner) 
              {
                <i class="fas fa-spin fa-spinner"></i>
              }
            </button>
      
      
          </form>
  
        
          
          <app-social></app-social>
  
        </div>
      }



    
      @else if (step ==3) 
      {
        <div class="w-[410px] gap-[32px] h-[342px]">
          <h1 class="text-[#313131] text-[24] font-[700] mb-5">Set a Password</h1>
          <form [formGroup]="PasswordRest" (ngSubmit)="SumbitPassword()" >
            
            <div>
              <input readonly type="email"  class="mb-6 bg-[#F9F9F9] text-[13.88px] border border-[#E0E0E9] text-[#A1A4A9] text-sm rounded-lg  focus:border-blue-50 block w-full p-2.5    dark:focus:ring-blue-50 dark:focus:border-blue-50"
             placeholder="Create Password" 
             formControlName="email"
             required />
             
            </div>
            @if (PasswordRest.get('email')?.errors && PasswordRest.get('email')?.touched) 
          {
            <div class="flex items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
              <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
             
              
              @if (PasswordRest.get('email')?.getError('required')) 
              {
                <div>
                  <span class="font-medium"></span> Email is required
                </div>
              }
              @else if (PasswordRest.get('email')?.getError('email')) 
              {
                <div>
                  <span class="font-medium"></span>Email is valid
                </div>
                
              }
             
              
              
            </div>
          }
            <div>
              <input type="password" class="mb-6 bg-[#F9F9F9] text-[13.88px] border border-[#E0E0E9] text-[#A1A4A9] text-sm rounded-lg  focus:border-blue-50 block w-full p-2.5 dark:focus:ring-blue-50 dark:focus:border-blue-50"
              placeholder="Re-enter Password"
              formControlName="newPassword"
              required />
            
            </div>

            @if (PasswordRest.get('newPassword')?.errors && PasswordRest.get('newPassword')?.touched) 
            {
              <div class="flex items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
               
                
                @if (PasswordRest.get('newPassword')?.getError('required')) 
                {
                  <div>
                    <span class="font-medium"></span> password is required
                  </div>
                }
               
                
               
                
                
              </div>
            }
           
            <button class="bg-[#4461F2] text-white  h-[56px] w-full p-[.5rem] rounded-[1.25rem]">sign in</button>
      
      
          </form>
  
        
          <app-social></app-social>
          
  
        </div>
      }
    </div>
  </section>
